@import "tailwindcss/base";
@import "./base/index.css";

@import "tailwindcss/components";
@import "./components/index.css";

@import "tailwindcss/utilities";
@import "./utilities/index.css";

@font-face
{
  font-family: "HelveticaNowDisplay-ExtraBold";
  src: url("../shared/fonts/HelveticaNowDisplay-ExtraBold.woff2");
  font-weight: 900;
}

@font-face
{
  font-family: "HelveticaNowDisplay-Bold";
  src: url("../shared/fonts/HelveticaNowDisplay-Bold.woff2");
  font-weight: 700;
}

@font-face
{
  font-family: "HelveticaNowDisplay-Medium";
  src: url("../shared/fonts/HelveticaNowDisplay-Medium.woff2");
  font-weight: 600;
}

@font-face
{
  font-family: "HelveticaNowDisplay-Regular";
  src: url("../shared/fonts/HelveticaNowDisplay-Regular.woff2");
  font-weight: 400;
}


@font-face
{
  font-family: "Mulish-ExtraBold";
  src: url("../shared/fonts/Mulish-ExtraBold.woff2");
  font-weight: 900;
}

@font-face
{
  font-family: "Mulish-Bold";
  src: url("../shared/fonts/Mulish-Bold.woff2");
  font-weight: 700;
}

@font-face
{
  font-family: "Mulish-SemiBold";
  src: url("../shared/fonts/Mulish-SemiBold.woff2");
  font-weight: 600;
}

@font-face
{
  font-family: "Mulish-Medium";
  src: url("../shared/fonts/Mulish-Medium.woff2");
  font-weight: 500;
}

@font-face
{
  font-family: "Mulish-Regular";
  src: url("../shared/fonts/Mulish-Regular.woff2");
  font-weight: 700;
}
